<h1>Edit volunteer</h1>
<%= link_to 'Back to volunteer', volunteer_path(@volunteer) %>
<%= render "form" %>
<h2>Availability</h2>
<table>
  <tr>
    <th>Day</th>
    <th>Start time</th>
    <th>End time</th>
    <th>Actions</th>
  </tr>
  <% @volunteer_availabilities.each do |volunteer_availability| %>
      <tr>
        <td><%= volunteer_availability.day.capitalize %></td>
        <td><%= volunteer_availability.start_hour %></td>
        <td><%= volunteer_availability.end_hour %></td>
        <td>
          <%= link_to 'Edit', edit_volunteer_availability_path(volunteer_availability) %>,
          <%= link_to 'Delete', volunteer_availability_path(volunteer_availability),
                            method: :delete
          %>
        </td>
      </tr>
  <% end %>
</table>
<h3>Add new availability</h3>
<%= form_for @volunteer_availability, url: add_volunteer_availabilities_volunteer_path(@volunteer) do |f| %>
    <div class="width33">
      <%= label_tag(:start_hour, "Start time") %>
      <%= f.select :day, @day_options, class: 'form_field' %>
    </div>
    <div class="width33">
      <%= label_tag(:start_hour, "Start time") %>
      <%= f.text_field :start_hour, class: 'form_field', type: 'number', min: 0, max: 23 %>
    </div>
    <div class="width33">
      <%= label_tag(:end_hour, "End time") %>
      <%= f.text_field :end_hour, class: 'form_field', type: 'number', min: 1, max: 24 %>
    </div>

    <%= f.submit "Submit" %>
<% end %>

<%= link_to 'Delete', volunteer_path(@volunteer),
            method: :delete,
            data: {confirm: 'Are you sure?'} %>

