<h1>Volunteer</h1>

<%= link_to 'Back to all volunteers', volunteers_path %>
<%= link_to 'Edit', edit_volunteer_path(@volunteer) %>
<h3>First name</h3>
<%= @volunteer.first_name  %>
<h3>Last name</h3>
<%= @volunteer.last_name  %>

<h2>Availability</h2>
<table>
  <tr>
    <th>Day</th>
    <th>Start time</th>
    <th>End time</th>
  </tr>
  <% @volunteer_availabilities.each do |volunteer_availability| %>
      <tr>
        <td><%= volunteer_availability.day.capitalize %></td>
        <td><%= volunteer_availability.start_hour %></td>
        <td><%= volunteer_availability.end_hour %></td>
      </tr>
  <% end %>
</table>


<h2>Matches</h2>
<% if @matches.size > 0 %>
    <%= render "matches/matches_table" %>
<% else %>
    <p><%= @volunteer.name %> has no matches.</p>
<% end %>
