<%= link_to 'Edit volunteer', edit_volunteer_path(@volunteer), class: [:button, 'float_right'] %>
<h1>Volunteer: <%= @volunteer.first_name %> <%= @volunteer.last_name %></h1>

<table class="meta_table">
  <tr>
    <th>ID</th>
    <td>
      <%= @volunteer.id %>
    </td>
  </tr>
  <tr>
    <th>First name</th>
    <td>
      <%= @volunteer.first_name %>
    </td>
  </tr>
  <tr>
    <th>Last name</th>
    <td>
      <%= @volunteer.last_name %>
    </td>
  </tr>
  <tr>
    <th>Address</th>
    <td>
      <%= @volunteer.full_address %>
    </td>
  </tr>
  <tr>
    <th>Date created</th>
    <td>
      <%= formatted_created_at(@volunteer) %>
    </td>
  </tr>
</table>

<h2>Specialties</h2>

<% if @specialties && @specialties.size > 0 %>
    <% @specialties.each do |specialty| %>
        <span class="badge badge-notice specialty"><%= link_to specialty.name, specialty %>
          <%= link_to fa_icon('close'), {
                                          controller: 'volunteers',
                                          action: 'remove_specialty',
                                          volunteer: {
                                            specialty_ids: specialty.id
                                          }
                                        },
                                        class: 'red remove_specialty' %>
        </span>
    <% end %>
<% else %>
    <p><%= @volunteer.name %> has no specialties.</p>
<% end %>

<%= form_for @volunteer, url: {action: 'add_specialty'}, html: {class: :horizontal_form} do |f| %>
    <div class="label">
      <%= label_tag(:specialty, "Add specialty:") %>
    </div>
    <div class="input stretch">
      <%= f.select :specialty_ids,
                   @specialties_options.collect { |specialty_option| [specialty_option.name, specialty_option.id] },
                   selected: @specialties_options.first,
                   class: 'form_field',
                   id: 'specialty_ids'
      %>
    </div>
    <div class="button_container">
      <%= f.submit "Add", id: 'add_specialty' %>
    </div>
<% end %>


<h2>Availability</h2>
<table id="availability_table">
  <tr>
    <th>Day</th>
    <th>Start time</th>
    <th>End time</th>
    <th>Actions</th>
  </tr>
  <% @availabilities.each do |availability| %>
      <tr>
        <td class="availability_table_day"><%= availability.day.capitalize %></td>
        <td class="availability_table_start_time"><%= availability.start_time %></td>
        <td class="availability_table_end_time"><%= availability.end_time %></td>
        <td class="availability_actions">
          <%= link_to 'Edit', edit_availability_path(availability) %>,
          <%= link_to 'Delete', availability_path(availability),
                      method: :delete
          %>
        </td>
      </tr>
  <% end %>
</table>

<%= form_for @availability, url: add_availabilities_volunteer_path(@volunteer), html: {class: :horizontal_form} do |f| %>
    <div class="label">
      <%= label_tag(:day, "Add availability:") %>
    </div>
    <div class="input" style="width: 50%;">
      <%= f.select :day, DAY_OPTIONS, class: 'form_field' %>
    </div>
    <div class="label">
      <%= label_tag(:start_time, "from:") %>
    </div>
    <div class="input">
      <%= f.text_field :start_time, class: 'form_field', type: 'number', min: 0, max: 23 %>
    </div>
    <div class="label">
      <%= label_tag(:end_time, "to:") %>
    </div>
    <div class="input">
      <%= f.text_field :end_time, class: 'form_field', type: 'number', min: 1, max: 24 %>
    </div>
    <div class="button_container">
      <%= f.submit "Add", id: 'add_availability' %>
    </div>
<% end %>

<h2>Matches</h2>
<% if @matches.size > 0 %>
    <%= render "matches/matches_table", object: @volunteer %>
<% else %>
    <p><%= @volunteer.name %> has no matches.</p>
<% end %>
<%= link_to 'Add match',
            {controller: 'matches',
             action: 'new',
             volunteer_id: @volunteer.id}, class: [:button, 'float_right', 'bottom_margin'], id: 'add_match' %>

<% if @volunteer.has_been_geocoded? %>
<h2>Location</h2>
    <%= render partial: "shared/map", locals: {map_subject: @volunteer} %>
<% end %>