<%= link_to 'Edit volunteer', edit_volunteer_path(@volunteer), class: [:button, 'float_right'] %>
<h1>Volunteer: <%= @volunteer.first_name %> <%= @volunteer.last_name %></h1>

<table class="meta_table">
  <tr>
    <th>ID</th>
    <td>
      <%= @volunteer.id %>
    </td>
  </tr>
  <tr>
    <th>First name</th>
    <td>
      <%= @volunteer.first_name %>
    </td>
  </tr>
  <tr>
    <th>Last name</th>
    <td>
      <%= @volunteer.last_name %>
    </td>
  </tr>
  <tr>
    <th>Date created</th>
    <td>
      <%= formatted_created_at(@volunteer) %>
    </td>
  </tr>
</table>

<h2>Specialties</h2>

<% if @volunteer_specialties && @volunteer_specialties.size > 0 %>
    <% @volunteer_specialties.each do |volunteer_specialty| %>
        <span class="badge badge-notice"><%= link_to volunteer_specialty.name, volunteer_specialty %></span>
    <% end %>
<% else %>
    <p><%= @volunteer.name %> has no specialties.</p>
<% end %>

<%= form_for @volunteer, url: {action: 'add_volunteer_specialty'}, html: {class: :horizontal_form} do |f| %>
    <div class="label">
      <%= label_tag(:volunteer_specialty, "Add specialty:") %>
    </div>
    <div class="input stretch">
      <%= f.select :volunteer_specialty_ids,
          @volunteer_specialties_options.collect { |volunteer_specialty| [volunteer_specialty.name, volunteer_specialty.id] },
          selected: @volunteer_specialties_options.first,
          class: 'form_field' %>
    </div>
    <div class="button">
      <%= f.submit "Add" %>
    </div>
<% end %>


<h2>Availability</h2>
<table>
  <tr>
    <th>Day</th>
    <th>Start time</th>
    <th>End time</th>
  </tr>
  <% @volunteer_availabilities.each do |volunteer_availability| %>
      <tr>
        <td><%= volunteer_availability.day.capitalize %></td>
        <td><%= volunteer_availability.start_hour %></td>
        <td><%= volunteer_availability.end_hour %></td>
      </tr>
  <% end %>
</table>

<h2>Matches</h2>
<% if @matches.size > 0 %>
    <%= render "matches/matches_table", object: @volunteer %>
<% else %>
    <p><%= @volunteer.name %> has no matches.</p>
<% end %>
