<h1>Volunteer: <%= @volunteer.first_name %> <%= @volunteer.last_name %></h1>

<%= link_to 'Back to all volunteers', volunteers_path %>
<%= link_to 'Edit', edit_volunteer_path(@volunteer) %>

<h2>Specialties</h2>
<% if @volunteer_specialties && @volunteer_specialties.size > 0 %>
    <ul>
      <% @volunteer_specialties.each do |volunteer_specialty| %>
      <%= volunteer_specialty.name %>
      <% end %>
<% else %>
    <p><%= @volunteer.name %> has no specialties.</p>
<% end %>
</ul>

<h2>Availability</h2>
<table>
  <tr>
    <th>Day</th>
    <th>Start time</th>
    <th>End time</th>
  </tr>
  <% @volunteer_availabilities.each do |volunteer_availability| %>
      <tr>
        <td><%= volunteer_availability.day.capitalize %></td>
        <td><%= volunteer_availability.start_hour %></td>
        <td><%= volunteer_availability.end_hour %></td>
      </tr>
  <% end %>
</table>

<h2>Matches</h2>
<% if @matches.size > 0 %>
    <%= render "matches/matches_table", object: @volunteer %>
<% else %>
    <p><%= @volunteer.name %> has no matches.</p>
<% end %>
