<%= link_to 'Edit volunteer', edit_volunteer_path(@volunteer), class: [:button, 'float_right'] %>
<h1>Volunteer: <%= @volunteer.first_name %> <%= @volunteer.last_name %></h1>

<table class="meta_table">
  <tr>
    <th>ID</th>
    <td>
      <%= @volunteer.id %>
    </td>
  </tr>
  <tr>
    <th>First name</th>
    <td>
      <%= @volunteer.first_name %>
    </td>
  </tr>
  <tr>
    <th>Last name</th>
    <td>
      <%= @volunteer.last_name %>
    </td>
  </tr>
  <tr>
    <th>Date created</th>
    <td>
      <%= formatted_created_at(@volunteer) %>
    </td>
  </tr>
</table>

<h2>Specialties</h2>

<% if @volunteer_specialties && @volunteer_specialties.size > 0 %>
    <% @volunteer_specialties.each do |volunteer_specialty| %>
        <span class="badge badge-notice specialty"><%= link_to volunteer_specialty.name, volunteer_specialty %>
          <%= link_to fa_icon('close'),
                      {controller: 'volunteers',
                       action: 'remove_volunteer_specialty',
                       volunteer_specialty_id: volunteer_specialty.id},
                      class: 'red remove_specialty' %>
        </span>
    <% end %>
<% else %>
    <p><%= @volunteer.name %> has no specialties.</p>
<% end %>

<%= form_for @volunteer, url: {action: 'add_volunteer_specialty'}, html: {class: :horizontal_form} do |f| %>
    <div class="label">
      <%= label_tag(:volunteer_specialty, "Add specialty:") %>
    </div>
    <div class="input stretch">
      <%= f.select :volunteer_specialty_ids,
                   @volunteer_specialties_options.collect { |volunteer_specialty| [volunteer_specialty.name, volunteer_specialty.id] },
                   selected: @volunteer_specialties_options.first,
                   class: 'form_field' %>
    </div>
    <div class="button">
      <%= f.submit "Add" %>
    </div>
<% end %>


<h2>Availability</h2>
<table>
  <tr>
    <th>Day</th>
    <th>Start time</th>
    <th>End time</th>
    <th>Actions</th>
  </tr>
  <% @volunteer_availabilities.each do |volunteer_availability| %>
      <tr>
        <td><%= volunteer_availability.day.capitalize %></td>
        <td><%= volunteer_availability.start_hour %></td>
        <td><%= volunteer_availability.end_hour %></td>
        <td>
          <%= link_to 'Edit', edit_volunteer_availability_path(volunteer_availability) %>,
          <%= link_to 'Delete', volunteer_availability_path(volunteer_availability),
                      method: :delete
          %>
        </td>
      </tr>
  <% end %>
</table>

<%= form_for @volunteer_availability, url: add_volunteer_availabilities_volunteer_path(@volunteer), html: {class: :horizontal_form} do |f| %>
    <div class="label">
      <%= label_tag(:day, "Add availability:") %>
    </div>
    <div class="input" style="width: 50%;">
      <%= f.select :day, @day_options, class: 'form_field' %>
    </div>
    <div class="label">
      <%= label_tag(:start_hour, "from:") %>
    </div>
    <div class="input">
      <%= f.text_field :start_hour, class: 'form_field', type: 'number', min: 0, max: 23 %>
    </div>
    <div class="label">
      <%= label_tag(:end_hour, "to:") %>
    </div>
    <div class="input">
      <%= f.text_field :end_hour, class: 'form_field', type: 'number', min: 1, max: 24 %>
    </div>
    <div class="button">
      <%= f.submit "Add" %>
    </div>
<% end %>

<h2>Matches</h2>
<%= link_to 'Add match',
            {controller: 'matches',
             action: 'new',
             volunteer_id: @volunteer.id}, class: [:button, 'float_right'] %>
<% if @matches.size > 0 %>
    <%= render "matches/matches_table", object: @volunteer %>
<% else %>
    <p><%= @volunteer.name %> has no matches.</p>
<% end %>
