<h1>Edit client</h1>
<%= link_to 'Back to client', client_path(@client) %>
<%= form_for @client do |f| %>
    <%= label_tag(:first_name, "First Name") %>
    <%= f.text_field :first_name %>
    <%= label_tag(:last_name, "Last Name") %>
    <%= f.text_field :last_name %>
    <%= f.submit "Submit" %>
<% end %>