<%= link_to 'Edit client', edit_client_path(@client), class: [:button, 'float_right'] %>
<h1>Client: <%= @client.name %></h1>

<table class="meta_table">
  <tr>
    <th>ID</th>
    <td>
      <%= @client.id %>
    </td>
  </tr>
  <tr>
    <th>First name</th>
    <td>
      <%= @client.first_name %>
    </td>
  </tr>
  <tr>
    <th>Last name</th>
    <td>
      <%= @client.last_name %>
    </td>
  </tr>
  <tr>
    <th>Address</th>
    <td>
      <%= @client.full_address %>
    </td>
  </tr>
  <tr>
    <th>Date created</th>
    <td>
      <%= formatted_created_at(@client) %>
    </td>
  </tr>
</table>

<h2>Matches</h2>
<% if @matches.size > 0 %>
    <%= render "matches/matches_table" %>
<% else %>
    <p><%= @client.name %> has no matches.</p>
<% end %>

<h2>Match Proposals</h2>
<% if @match_proposals.size > 0 %>
    <%= render "match_proposals/match_proposals_table" %>
<% else %>
    <p><%= @client.name %> has no match proposals.</p>
<% end %>

<% if @client.has_been_geocoded? %>
<h2>Location</h2>
<div id="map"></div>
    <script type="text/javascript">

      var map;

      function initMap() {
        var latLng = {lat: <%= @client.latitude %>, lng: <%= @client.longitude %>};
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: latLng
        });
        var marker = new google.maps.Marker({
          position: latLng,
          map: map,
          title: '<%= @client.name %>'
        });
      }

    </script>
<% end %>
