<h1>Client</h1>

<%= link_to 'Back to all clients', clients_path  %> |
<%= link_to 'Edit', edit_client_path(@client) %>
<h3>First name</h3>
<p><%= @client.first_name %></p>
<h3>Last name</h3>
<p><%= @client.last_name %></p>

<h2>Matches</h2>
<% if @matches.size > 0 %>
    <%= render "matches/matches_table" %>
<% else %>
    <p><%= @client.name %> has no matches.</p>
<% end %>





