<%= link_to 'Delete this match proposal', match_proposal_path(@match_proposal), class: [:button, 'float_right'], method: :delete, data: { confirm: 'Are you sure?' } %>

<h1>Match Proposal</h1>

<table class="meta_table">
  <tr>
    <th>ID</th>
    <td>
      <%= @match_proposal.id %>
    </td>
  </tr>
  <tr>
    <th>Client</th>
    <td>
      <%= link_to @match_proposal.client.name, @match_proposal.client %>
    </td>
  </tr>
  <tr>
    <th>Status</th>
    <td>
      <%= @match_proposal.status.capitalize %>
      <% if @match_proposal.match %>
          <%= link_to '(View match)', @match_proposal.match %>
      <% end %>
    </td>
  </tr>
  <tr>
    <th>Day and time proposed</th>
    <td>
      <%= @match_proposal.day_and_time %>
    </td>
  </tr>
  <tr>
    <th>Date created</th>
    <td>
      <%= formatted_created_at(@match_proposal) %>
    </td>
  </tr>
</table>

<% if @match_proposal.match_deleted_after_acceptance %>
<div class="flash-alert">
  <span>This match proposal was accepted, but the resulting match has since been deleted.  To create a new match you can click 'accept' for a volunteer below, or start a new match proposal.</span>
</div>
    <% end %>

<h2>Match Requests</h2>
<table>
  <tr>
    <th>Volunteer</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>
  <% @match_requests.each do |match_request| %>
      <tr class="request_<%= match_request.status %>">
        <td><%= match_request.volunteer.name %></td>
        <td><%= match_request.status.capitalize %></td>
        <td>
          <% if match_request.match %>
              <%= link_to 'View match', match_request.match %>
          <% elsif !@match_proposal.match %>
              <%= link_to fa_icon("ban", class: 'margin_right'), match_request_path(match_request, status: 'rejected'), method: :put %>
              <%= link_to fa_icon("check", class: 'margin_right'), match_request_path(match_request, status: 'accepted'), method: :put %>
          <% elsif @match_proposal.match && match_request.status != 'rejected' %>
              <%= link_to fa_icon("ban", class: 'margin_right'), match_request_path(match_request, status: 'rejected'), method: :put %>
          <% end %>
        </td>
      </tr>
  <% end %>
</table>