<%= link_to 'Edit specialty', edit_specialty_path(@specialty), class: [:button, 'float_right'] %>
<h1>Specialty: <%= @specialty.name  %></h1>


<table class="meta_table">
  <tr>
    <th>ID</th>
    <td>
      <%= @specialty.id %>
    </td>
  </tr>
  <tr>
    <th>Name</th>
    <td>
      <%= @specialty.name %>
    </td>
  </tr>
  <tr>
    <th>Date created</th>
    <td>
      <%= formatted_created_at(@specialty) %>
    </td>
  </tr>
  <tr>
    <th>Volunteers with this specialty</th>
    <td>
      <%= @volunteers.size %>
    </td>
  </tr>
</table>


<h2>Volunteers with this specialty</h2>
<% if @volunteers.size > 0 %>
    <ul>
      <% @volunteers.each do |volunteer| %>
      <li><%= link_to volunteer.name, volunteer %></li>
      <% end %>
    </ul>
<% else %>
    <p>No volunteers have the specialty <%= @specialty.name %></p>
<% end %>
