<%= form_for @match do |f| %>
    <div class="width50">
      <%= label_tag(:client_association, "Client") %><br>
      <%= f.collection_select(:client_id, Client.all, :id, :name, prompt: true) %>
    </div>
    <div class="width50">
      <%= label_tag(:volunteer_association, "Volunteer") %><br>
      <% if @volunteer %>
          <%= f.collection_select(:volunteer_id, Volunteer.all, :id, :name, selected: @volunteer.id, prompt: true) %>
      <% else %>
          <%= f.collection_select(:volunteer_id, Volunteer.all, :id, :name, prompt: true) %>
      <% end %>
    </div>

    <div class="width33">
      <%= label_tag(:day, "Day") %>
      <%= f.select(:day, DAY_OPTIONS, class: 'form_field') %>
    </div>
    <div class="width33">
      <%= label_tag(:start_time, "Start time") %>
      <%= f.text_field(:start_time, class: 'form_field', type: 'number', min: 0, max: 23) %>
    </div>
    <div class="width33">
      <%= label_tag(:end_time, "End time") %>
      <%= f.text_field(:end_time, class: 'form_field', type: 'number', min: 1, max: 24) %>
    </div>
    <div style="clear:both;">
      <%= f.submit "Submit" %>
    </div>
<% end %>