<%= form_for @match do |f| %>
    <div class="width50">
      <%= label_tag(:client_association, "Client") %><br>
      <%= f.collection_select(:client_id, Client.all, :id, :name, prompt: true) %>
    </div>
    <div class="width50">
      <%= label_tag(:volunteer_association, "Volunteer") %><br>
      <%= f.collection_select(:volunteer_id, @volunteers, :id, :name, prompt: true) %>
    </div>
    <%= f.hidden_field(:day, value: @match_params[:day]) %>
    <%= hidden_field_tag(:from_match_explorer, 'true') %>
    <%= f.hidden_field(:start_time, value: @match_params[:start_time]) %>
    <%= f.hidden_field(:end_time, value: @match_params[:end_time]) %>
    <%= f.submit "Submit" %>
<% end %>