<h1>Matches Explorer</h1>

<%= form_for (@match_exploration || MatchExploration.new), url: matches_explorer_path, method: :get do |f| %>
    <div class="width33">
      <%= label_tag(:day, "Day") %>
      <%= f.select(:day, @day_options, class: 'form_field') %>
    </div>
    <div class="width33">
      <%= label_tag(:start_time, "Start time") %>
      <%= f.text_field(:start_time, class: 'form_field', type: 'number', min: 0, max: 23) %>
    </div>
    <div class="width33">
      <%= label_tag(:end_time, "End time") %>
      <%= f.text_field(:end_time, class: 'form_field', type: 'number', min: 1, max: 24) %>
    </div>

    <%= f.submit "Explore Matches" %>
<% end %>

<% if @match_exploration && !@match_exploration.values_nil? %>
    <% if @match_exploration.valid? %>
        <h2>Create match</h2>
        <p>Will create a match for <%= @match_params[:day].capitalize %> from <%= @match_params[:start_time] %>
          to <%= @match_params[:end_time] %>.</p>

        <%= render "form_for_explorer" %>

        <h2>Search results for <%= @match_exploration.day.capitalize %>, from <%= @match_exploration.start_time %>
          to <%= @match_exploration.end_time %></h2>
        <% if @volunteers && @volunteers.size > 0 %>
            <%= render "volunteers_table" %>
        <% else %>
            No volunteers match your search criteria.
        <% end %>
    <% else %>
        <div class="MatchExplorer_flash">
          <%= render :partial => "/layouts/flash", :locals => {:flash => {error: @match_exploration.errors.full_messages.to_sentence}} %>
        </div>
    <% end %>
<% end %>

