<h1>Matches Explorer</h1>

<%= form_tag(matches_explorer_path, method: :get) do %>
<div class="width33">
    <%= label_tag(:day, "Day") %>
    <%= select_tag(:day, options_for_select(@day_options, @day_options_selected), class: 'form_field') %>
</div>
<div class="width33">
    <%= label_tag(:start_time, "Start time") %>
    <%= text_field_tag(:start_time, @start_time_selected, class: 'form_field', type: 'number', min: 0, max: 23) %>
</div>
<div class="width33">
    <%= label_tag(:end_time, "End time") %>
    <%= text_field_tag(:end_time, @end_time_selected, class: 'form_field', type: 'number', min: 1, max: 24) %>
</div>

<%= submit_tag "Explore Matches" %>
<% end %>


<% if @volunteers && @volunteers.size > 0 %>
<%= render "volunteers/table" %>
<% else %>
No volunteers match your search criteria.
<% end %>