<%= link_to 'Edit match', edit_match_path(@match), class: [:button, 'float_right'] %>
<h1>Match</h1>

<% if @match_proposal %>
    <p>This match accepted from a <%= link_to 'match proposal', @match_proposal %> created
      on <%= @match_proposal.created_at.strftime('%F') %></p>
<% end %>

<table class="meta_table">
  <tr>
    <th>Client</th>
    <td>
      <%= link_to @match.client_name, client_path(@match.client_id) %>
    </td>
  </tr>
  <tr>
    <th>Volunteer</th>
    <td>
      <%= link_to @match.volunteer_name, volunteer_path(@match.volunteer_id) %>
    </td>
  </tr>
  <tr>
    <th>Day and time</th>
    <td>
      <%= @match.day_and_time %>
    </td>
  </tr>
  <tr>
    <th>Date created</th>
    <td>
      <%= formatted_created_at(@match) %>
    </td>
  </tr>
</table>


