<!DOCTYPE html>
<html>
<head>
  <title>Hospice at Home</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.secrets.google_maps_browser_api %>">
  </script>
</head>
<% if @no_turbolinks && @no_turbolinks == true %>
    <body data-no-turbolink="true">
<% else %>
    <body>
<% end %>
<%= render "refills/navigation" %>
<div class="container">
  <%= render 'shared/breadcrumbs' %>
  <%= render :partial => "/layouts/flash", :locals => {:flash => flash} %>
  <%= yield %>
</div>
<%= yield :javascript %>
</body>
</html>
